body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background: linear-gradient(to bottom, #7ea7a6, #d1e0e0);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo {
    font-size: 35px;
    font-weight: bold;
    display: flex;
    align-items: center;
    color: white;
}

.logo img {
    width: 90px;
    margin-right: 10px;
}

.search-bar {
    flex-grow: 1;
    margin: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar input {
    width: 60%;
    padding: 10px;
    border-radius: 20px;
    border: none;
}

.login-btn {
    padding: 10px 20px;
    background: #121348;
    color: white;
    border: none;
    border-radius: 60px;
    cursor: pointer;
}

.container {
    padding: 100px;
    text-align: left;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.buttons button {
    padding: 15px 30px;
    border-radius: 20px;
    border: none;
    background: #d9ecec;
    cursor: pointer;
}

.footer {
    background: #121348;
    color: white;
    padding: 10px;
    margin-top: 150px;
}
